<title> Starbucks Order </title>
<h2>Starbucks Order</h2>
<form action="/view" method = "post">
<input type = "submit" id="vieworder" name="action" value="View Order" />
</form>
<form action="/change" method = "post">
<input type = "submit" id="changeorder" name="action" value="Change Order" />
</form>
<form action="/remove" method = "post">
<input type = "submit" id="removeorder" name="action" value="Delete Order" />
</form>

<form action="/order" method = "post">
Store<br>
  <select name="store" id="store">
    <option value="sf">San Francisco</option>
    <option value="sj">San Jose</option>
    <option value="pa">Palo Alto</option>
  </select><br><br>
	Items : use ctrl/command and scroll and select multiple<br>
  <select multiple name="item" id="item">
    <option value="i1">Frapaccino</option>
    <option value="i2">Hot Chocolate</option>
    <option value="i3">Coffee</option>
    <option value="i4">Tea1</option>
    <option value="i5">Tea2</option>
    <option value="i6">Tea3</option>
    <option value="i7">Tea4</option>
  </select>
  <br><br>
	<input type = "submit" name="action" id="placeorder" value="Place Order" />
</form>
