<title> Starbucks Order </title>
<h2>Starbucks Order</h2>
<form action="/order" method = "post">
	Store <input type ="text" name="store" id="store" required="true"> <br><br>
	Choose Items <input type="text" name="items" id="items" required="true"> <br><br>
	<button type = "submit"> Place Order </button>
</form>